.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px; 
    margin-right: 100px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    padding: 25px;
}